.sideDishContainer {
    width: 1280px;
    overflow: hidden;
}

.sideDishList {
    display: flex; 
    margin: 0 auto;
}

.sideDishList .goodsBlock{
    width:302px;
    height:456px;
}
.sideDishList .goodsBlock .thumb{
    width:302px;
    height: 302px;
}
